<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/style.css">
    <title>{{ page_title }}</title>
  </head>
  <body>


<nav class=" ">
    <ul>
        <li><a class="">Blog</a></li>
        <li><a class="">Top posts</a></li>
        <li><a class="">Contacts</a></li>
        <li><a class="">Profile</a></li>
    </ul>

 </body>
</html>