<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<title>{{ page_title }}</title>
</head>

<body>
	<div class="page-body header">
		<header>
			<h1>Pavel's Personal Blog</h1>
		</header>
	</div>

	{% block content %}

    {% endblock %}
				<div class="page-body footer">

				<footer>
					<ul class="menu-link">
						<li><a href="main.html">Home</a></li>
						<li><a href="/About">About</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</footer>
			</div>
		</div>
	</div>
</body>

</html>