<!doctype html>
<html lang="en">
{% extends "base.html" %}


{% block content %}

	<div id="main">
		<div class="row">
			<div class="container">
				<div style="text-align:center">
					<h1>Контакты</h1>
				</div>
				<div class="row">
					<div class="column"> <img src="../static/img/cont.jpeg" style="width:100%"> </div>
					<div class="column">
						<form action="/"> <label for="fname">Имя</label> <input type="text" id="fname" name="firstname" placeholder="Ваше имя.."> <label for="lname">Фамилия</label> <input type="text" id="lname" name="lastname" placeholder="Ваша фамилия.."> <label for="country">Страна</label> <select id="country" name="country">
          <option value="australia">Россия</option>
          <option value="canada">Германия</option>
          <option value="usa">США</option>
        </select> <label for="subject">Текст</label> <textarea id="subject" name="subject" placeholder="Написать нечто.." style="height:170px"></textarea> <input type="submit" value="Отправить"> </form>
					</div>
				</div>
			</div>
		</div>
		</div>
    {% endblock %}