<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="../static/css/style.css">
	<title>{{ page_title }}</title>
</head>

<body>
	<div class="page-body header">
		<header>
			<h1>Pavel's Personal Blog</h1>
		</header>
	</div>
	<div id="main">
		<div class="row">
			<div class="container">
				<div style="text-align:center">
					<h1>Контакты</h1>
				</div>
				<div class="row">
					<div class="column"> <img src="../static/img/cont.jpeg" style="width:100%"> </div>
					<div class="column">
						<form action="/"> <label for="fname">Имя</label> <input type="text" id="fname" name="firstname" placeholder="Ваше имя.."> <label for="lname">Фамилия</label> <input type="text" id="lname" name="lastname" placeholder="Ваша фамилия.."> <label for="country">Страна</label> <select id="country" name="country">
          <option value="australia">Россия</option>
          <option value="canada">Германия</option>
          <option value="usa">США</option>
        </select> <label for="subject">Текст</label> <textarea id="subject" name="subject" placeholder="Написать нечто.." style="height:170px"></textarea> <input type="submit" value="Отправить"> </form>
					</div>
				</div>
			</div>
			<div class="page-body footer">
				<footer>
					<ul class="menu-link">
						<li><a href="main.html">Home</a></li>
						<li><a href="/About">About</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</footer>
			</div>
</body>

</html>