body {
    font-family: "Poppins", sans-serif;
    background: #fafafa !important;
    margin: 0;
}

a {
    text-decoration: none !important;
    color: #1abc9c;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #333333;
}

b {
    font-weight: 600;
    color: #333333;
}

p {
    font-size: 14px;
}

#main {
    margin: 50px 10%;
}

.page-body {
    background: #ffffff;
    box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
}

.row {
    background: #ffffff;

}

.sub-title {
    display: flex;
    padding: 30px;
    justify-content: space-around;
}

.sub-title h2 {
    font-size: 25px;
    letter-spacing: 0.5px;
    font-weight: 600;
}

.sub-title i {
    float: right;
    font-size: 35px;
    margin-top: 15px;
}

.content-page {
    padding: 30px 50px;
    border: 1px dashed #dedede;
}

div.blog-post {
    margin-bottom: 50px;
}

.blog-post .post-title h1 {
    color: #333333;
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    margin-top: 24px;
}

.blog-post .post-info {
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    padding: 10px 0;
    color: #8c8c8c;
}

.blog-post p {
    font-size: 16px;
    line-height: 30px;
    color: #696868;
    font-weight: 300;
}

.menu-link {
    list-style: none;
    padding: 25px;
    margin: 0;
    text-align: center;
}

.menu-link li {
    display: inline-block;
    margin: 2px 4px;
}

.menu-link li a {
    display: block;
    color: #333333;
    text-align: center;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
}

.menu-link li a:hover {
    color: #1abc9c;
}

.list li {
    font-size: 18px;
    color: #333333;
    font-weight: 400;
    margin-bottom: 10px;
}

.header,
.footer {
    background: url(../../static/img/pattern-bg.png) repeat;
    text-align: center;
    padding: 30px 0;
}

.header p,
.footer p {
    color: #797878;
    font-size: 13px;
    line-height: 25px;
    padding: 0 15px;
    letter-spacing: 1px;
}


.contact-us-detail {
    margin-top: 10px;
}

.contact-us-detail i {
    font-size: 30px;
    line-height: 50px;
}

.contact-us-detail a {
    color: #333333;
}

.contact-us-detail a:hover {
    color: #333333;
}

.form-group {
    margin-bottom: 25px;
}

.form-control {
	border: 2px solid transparent;
	height: 50px;
	border-radius: 2px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    transition:all 150ms ease-in-out 0s;
}
.form-control:focus {
	border-color: #171717;
	box-shadow: none;
}

.form-control:focus {
    border-color: #1abc9c;
    border-width: 2px;
}


* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


 .post-image p {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.flash-messages {
list-style-type:  none;
background: red;
font-size: 20px;
padding: 5px;
}